<div id="questionpage">
  <h2 id="topic">{{topic}}</h2>
  <br>

  <button id="startButton" type="button" class="btn btn-primary">Начать</button>
  <div id="qwestion">
    <h4 id="textOfQwestion"></h4>
    <form id="flashcard">
      <label for="text">
        <input id="answer" type="text" class="form-control" placeholder="Введите ответ да/нет" name="usersAnswer">
      </label>
      <div id="but">
        <input type="submit" class="btn btn-primary" value=" Ввод ответа">
      </div>

    </form>
  </div>

  <div id="statistics"></div>

</div>
